#updateCertificates(hidden).panel

	span.fa.fa-close#closeUpdateCert

	h2 Update Cert
	hr

	#certs
		//- span.createball
		//- #marbleId

		form(action="/create" method="POST")#createform
			//legend 
			//input(type="hidden" name="name" placeholder="Name Your Marble")
			//span.hint &nbsp;&nbsp;RANDOM OR CUSTOM STRING

			//br

			//- br
			//- legend 
			//- 	select(name="size")
			//- 		//- option(value="35" disabled="disabled") Size
			//- 		option(value="35" selected="selected") Large
			//- 		option(value="16") Small
			//- br
			//- legend 
			//- 	select(name="user" disabled="disabled")
			//- 		option(value="" disabled="disabled" selected="selected") User
			//- input(type="hidden" name="company" value="")
			//- input(type="hidden" name="owner_id" value="")

			//- br
			//- br
			//- button(type="button")#createMarbleButton
			//- 	span.fa.fa-plus-circle &nbsp;&nbsp;
			//- 	span Create
			//- br
			//- br
			//- button(type="button")#updateMarbleButton
			//- 	span.fa.fa-plus-circle &nbsp;&nbsp;
			//- 	span Update
			br
			legend
				.column1 教育部学历证书电子备案表
				table(name="updatecerts")
					tr.tr
						td(width="120px" height="35px" ) 姓名
						td(colspan="3")
							input(type="text" name="01" placeholder="张三")
						td(width="200px" rowspan="4")
							img.img(src = '/imgs/2.jpg' width="200px")
					tr
						td(width="120px"  height="35" align=center ) 性别
						td(width="150")
							input(type="text" name="02" placeholder="男")
						td(width="120px" height="35" align=center) 出生日期
						td(width="150")
							input(type="text" name="03" placeholder="1995/2/5")
					tr
						td(width="120px"  height="35" align=center) 入学时间
						td(width="150")
							input(type="text" name="04" placeholder="2017/9/1")
						td(width="120px"  height="35" align=center) 毕业时间
						td(width="150") 
							input(type="text" name="05" placeholder="2020/6/1")
					tr 
						td(width="120px"  height="35" align=center) 学历类型
						td(width="150")
							input(type="text" name="06" placeholder="全日制")
						td(width="120px"  height="35" align=center) 学历层次
						td(width="150")
							input(type="text" name="07" placeholder="硕士")
					tr 
						td(width="120px"  height="35" align=center) 毕业院校
						td(width="150")
							input(type="text" name="08" placeholder="北京邮电大学")
						td(width="80"  height="35" align=center) 院校所在地
						td(colspan="2" width="150")
							input(type="text" name="09" placeholder="西土城路10号")
					tr 
						td(width="120px"  height="35" align=center) 专业名称
						td(width="150")
							input(type="text" name="010" placeholder="信通")
						td(width="80"  height="35" align=center) 学习形式
						td(colspan="2" width="150")
							input(type="text" name="011" placeholder="全日制")
					tr 
						td(width="120px"  height="35" align=center) 毕结业结论
						td(width="150")
							input(type="text" name="012" placeholder="待填写")
						td(width="80"  height="35" align=center) 证书编号
						td(colspan="2" width="150")
							input(type="text" name="013" placeholder="BUPT2017369840001")
					tr 
						td(width="80"  height="120" align=center) 在线验证
						td(colspan="4")
					tr 
						td(colspan="5" height="400")
	br
	button.column1(type="button")#updateCertButton
		span.fa.fa-plus-circle &nbsp;&nbsp;
		span 更改证书
		span
	hr





